<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link href="./css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico" />
  </head>

  <body data-bs-theme="dark">
    <div class="bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-8">
            <h1 class="display-4">SUNY Poly Programming Competition</h1>
          </div>
          <div>
            <div class="d-flex" style="gap: 15px">
              <a
                href="/Programming_Comp_Rules.pdf"
                class="btn btn-primary"
                target="_blank"
              >
                Comp Rules
              </a>
              <a href="/registerteam" class="btn btn-primary">
                Register Team
              </a>
              <a href="/problems/spring/2024" class="btn btn-primary">
                Problems
              </a>

              <form method="post" action="/logout">
                <button class="btn btn-primary">Logout</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-25 mt-5">
      <div class="mx-auto text-center">
        <% for (const message of errorMessages) { %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
        <% } %> <% for (const message of messages) { %>
        <div class="alert alert-success" role="alert"><%= message %></div>
        <% } %> <% for (const message of successMessages) { %>
        <div class="alert alert-success" role="alert"><%= message %></div>
        <% } %>
      </div>
    </div>
    <div class="container w-50 h-50">
      <img src="./pictures/polyLogo.png" class="img-fluid" />
    </div>
  </body>
</html>
