<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register Team</title>
    <link href="./css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body data-bs-theme="dark">
    <div class="bg-primary">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-8">
            <h1 class="display-4">SUNY Poly Programming Competition</h1>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <a href="/" class="btn btn-primary">Back to home</a>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center py-4">
      <div class="container text-center">
        <h1>Register Team</h1>

        <form
          id="teamForm"
          class="d-flex flex-column justify-contents-center align-items-center"
          action="/registerteam"
          method="POST"
        >
          <div>
            <input
              class="form-control mb-3 col-auto"
              name="teamname"
              type="text"
              placeholder="Team Name"
              required
            />
          </div>

          <div id="teamMembers">
            <input
              class="form-control mb-3"
              name="email"
              type="text"
              placeholder="Email"
              value="<%= email %>"
              required
              readonly
            />
          </div>

          <div>
            <input
              id="addField"
              class="btn btn-success"
              name="addField"
              type="button"
              value="Add Team Member"
            />

            <input
              id="removeField"
              class="btn btn-danger"
              name="removeField"
              type="button"
              value="Remove Member"
            />
            <input
              id="submitBtn"
              class="btn btn-primary"
              name="submit"
              type="submit"
              value="Submit Team"
            />
          </div>
        </form>

        <div class="container w-25 mt-5">
          <div class="mx-auto text-center">
            <% for (const message of errorMessages) { %>
            <div class="alert alert-danger" role="alert"><%= message %></div>
            <% } %> <% for (const message of messages) { %>
            <div class="alert alert-success" role="alert"><%= message %></div>
            <% } %> <% for (const message of successMessages) { %>
            <div class="alert alert-success" role="alert"><%= message %></div>
            <% } %>
          </div>
        </div>

        <div class="container w-25 mt-5">
          <div class="mx-auto text-center" id="messages">
            <div class="alert alert-danger" role="alert">Max Teammates</div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("#messages").hide();
        $("#addField").click(function () {
          const inputs = $("#teamMembers input");

          if (inputs.length <= 3) {
            const newInput = $(
              '<input class="form-control mb-3" type="text" name="email" placeholder="SUNY Poly Email" pattern="^[a-zA-Z]{1,10}@sunypoly.edu$" oninvalid="this.setCustomValidity(\'Please enter a valid SUNY Poly email\')" onchange="try{setCustomValidity(\'\')}catch(e){}" required>'
            );

            $("#teamMembers").append(newInput);
          }
          if (inputs.length === 3) {
            $("#messages").show();
            $("#addField").hide();
          }
        });

        $("#removeField").click(function () {
          const inputs = $("#teamMembers input");

          if (inputs.length > 1) {
            inputs.last().remove();
            $("#addField").show();
          }

          $("#messages").hide();
        });
      });
    </script>
  </body>
</html>
