<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team Scores</title>
    <link href="../../css/styles.css" rel="stylesheet" />
  </head>

  <body data-bs-theme="dark">
    <div class="bg-primary">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-8">
            <h1 class="display-4">SUNY Poly Programming Competition</h1>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <a href="/" class="btn btn-primary">Back</a>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="mt-4 text-center">
        <div class="container my-4 py-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Teamname</th>
                <th scope="col">Score</th>
                <th scope="col">Problems Solved</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < teams.length; i++) {%>
              <tr>
                <td><%= i+1 %></td>
                <td><%= teams[i].teamname %></td>
                <td><%= teams[i].score %></td>
                <td><%= teams[i].count %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
