<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submission</title>
    <link href="./css/styles.css" rel="stylesheet" />
  </head>

  <body data-bs-theme="dark">
    <div class="bg-primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <h1 class="display-4">SUNY Poly Programming Comp</h1>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="container text-center mt-4">
        <div>
          <h1 class="display-4"><%= user.username %></h1>
        </div>
        <h1>Upload and Execute Code</h1>
        <form
          action="/execute"
          method="post"
          encType="multipart/form-data"
          id="code-form"
        >
          <div class="mb-3">
            <label htmlFor="file" class="form-label"> File: </label>
            <input type="file" name="file" id="file" class="form-control" />
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
